[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
gevent = "==1.4.0"
mysqlclient = "==1.4.6"
connexion = {extras = ["swagger-ui"],version = "==2.3.0"}
flask = "==1.1.1"
flask-script = "==2.0.6"
flask-migrate = "==2.5.2"
flask-sqlalchemy = "==2.4.1"
python-jose = {extras = ["cryptography"],version = "==3.0.1"}
flask-testing = "==0.7.1"

[requires]
python_version = "3.7.5"
